{% extends "base.html" %}
{% block content %}
  <main>
   
    {% if request.user.is_authenticated %}
    <div class="container">
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <button type="button">
          <a href="{% url 'core:online' %}">Write Online</a>
        </button>
        <button type="button">
          <a href="{% url 'core:offline' %}">Write Offline and Upload</a>
        </button>

      </section>
    
    
    {% else %}
    <p class="text-center font-weight-bold">Please login/sign up to start your test!</p>
    {% endif %}

  </main>
  
{% endblock content %}
