{% extends "base.html" %}
{% block content %}
  <main>
   
    {% if request.user.is_authenticated %}
    <div class="container">
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <h4><p class="text-center font-weight-bold">Write answers to all the {{l}} questions below and click 'Submit' to complete your test!</p></h4>

        <!--Grid row-->
        <div class="row wow fadeIn">
          <form action="{% url 'core:home' %}" method="POST">
            {% csrf_token %}

            {% for question in questions %}
            
            <h6><label class="text-center font-weight-bold">{{forloop.counter}}. {{ question.question }}</label></h6>
            <div class="md-form mb-5">
               <textarea class="textarea" rows="5" cols="125" maxlength="1000" name="q{{ forloop.counter }}" placeholder="Enter your answer here..."></textarea>
            </div>
            
            {% endfor %}

          <button type='submit' class="btn btn-primary">Submit</button>
        </form>
        </div>

      </section>
      <!--Section: Products v.3-->

    </div>
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">

      <!--Copyright-->
      <div class="footer-copyright py-3">
        © 2021 Copyright: Answer Evaluater
      </div>
      <!--/.Copyright-->
   
    </footer>
    {% else %}
    <p class="text-center font-weight-bold">Please login/sign up to start your test!</p>
    {% endif %}

  </main>
  
{% endblock content %}
