{% extends "base.html" %}
{% block content %}
  <main>
   
    {% if request.user.is_authenticated %}
    <div class="container">
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

          <a class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true" href="{% url 'core:online' %}">Write Online</a>
          <a class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true" href="{% url 'core:offline' %}">Write Offline and Upload</a>

      </section>
    
    
    {% else %}
    <p class="text-center font-weight-bold">Please log in/sign up to start your test!</p>
    {% endif %}

  </main>
  
{% endblock content %}
